<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean class="com.xuqingsong.ssh.spring.TestService" id="testService">
        <property name="name" value="com.xuqingsong.ssh.spring"></property>
    </bean>
    <bean class="com.xuqingsong.ssh.spring.CustomService" id="customService">
        <property name="name" value="徐青松"/>
        <property name="sex" value="男"/>
        <property name="age" value="19"/>
        <property name="status" value="未婚"/>
    </bean>
</beans>